img {
    user-select: none;
}
.item-title {
    color: #e52a33 !important
}
.rdbtn, .rdbtn:hover, .rdbtn:active, .rdbtn:focus {
    background-color: rgb(237, 20, 61);
}
.adjust-orders {
    max-width: 90px;
}
.hand {
    cursor: pointer;
}
.menu-logo {
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-14deg);
    -ms-transform: rotate(-14deg);
    -o-transform: rotate(-14deg);
    transform: rotate(-14deg);
}
.uk-navbar-container * {
    color: #000 !important
}
.iac {
    background-color: #385499;
    border-radius: 2px;
    color: white !important;
    padding: 1px 3px;
    font-size: 12px;
    position: absolute;
    /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
    height: 14px;
    line-height: 14px;
    z-index: 1;
}